html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    line-height: 1.4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #404040;
    font-family: "Arial", Segoe UI, Tahoma, sans-serif, Helvetica Neue, Helvetica;
    background: radial-gradient(circle, #090e23, #000);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    text-align: center;
    padding: 10px;
    color: #fff;
    background: transparent;
    margin-top: auto;
    font-size: 1rem;
}

.seccion-perfil-usuario .perfil-usuario-body,
.seccion-perfil-usuario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.seccion-perfil-usuario .perfil-usuario-header {
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(#032384cf, transparent);
    margin-bottom: 1.25rem;
}

.seccion-perfil-usuario .perfil-usuario-portada {
    display: block;
    position: relative;
    width: 90%;
    height: 17rem;
    border-radius: 0 0 20px 20px;
    background-image: url('fondo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.seccion-perfil-usuario .perfil-usuario-avatar {
    display: flex;
    width: 180px;
    height: 180px;
    align-items: center;
    justify-content: center;
    border: 7px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    position: absolute;
    bottom: -40px;
    left: calc(50% - 90px);
    z-index: 1;
    background-image: url('logo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.seccion-perfil-usuario .perfil-usuario-avatar img {
    display: none;
}

.seccion-perfil-usuario .perfil-usuario-body {
    width: 70%;
    position: relative;
    max-width: 750px;
}

.seccion-perfil-usuario .perfil-usuario-body .titulo {
    display: block;
    width: 100%;
    font-size: 1.75em;
    margin-bottom: 0.5rem;
    text-align: center;
}

.seccion-perfil-usuario .perfil-usuario-body .texto {
    color: #848484;
    font-size: 0.95em;
}

.seccion-perfil-usuario .perfil-usuario-footer,
.seccion-perfil-usuario .perfil-usuario-bio {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 2rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    background-color: rgba(253, 252, 255, 0.85);
    border-radius: 15px;
    width: 100%;
}

.seccion-perfil-usuario .lista-datos {
    width: 50%;
    list-style: none;
}

.seccion-perfil-usuario .lista-datos li {
    padding: 5px 0;
}

.seccion-perfil-usuario .lista-datos li > .icono {
    margin-right: 1rem;
    font-size: 1.2rem;
    vertical-align: middle;
}

@media (max-width: 750px) {
    .seccion-perfil-usuario .lista-datos {
        width: 100%;
    }

    .seccion-perfil-usuario .perfil-usuario-portada,
    .seccion-perfil-usuario .perfil-usuario-body {
        width: 95%;
    }
}

.menu-button {
    display: block;
    margin: 20px auto;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #eb0101;
    border: none;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu-button:hover {
    background-color: #04196f;
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.menu-button:active {
    transform: translateY(1px);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.menu-button:focus {
    outline: none;
    box-shadow: 0 0 5px 2px rgba(0, 7, 8, 0.7);
}

.mensaje {
    margin-top: 20px;
    font-size: 1rem;
    color: #00ff88;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.input-editar {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    margin: 8px 0;
    border: 2px solid #00ff88;
    border-radius: 8px;
    font-size: 1rem;
    background: rgba(9, 14, 35, 0.7);
    color: #fff;
    outline: none;
    transition: border 0.3s, box-shadow 0.3s;
}

.input-editar:focus {
    border: 2px solid #f80a0ad1;
    box-shadow: 0 0 10px #ff0033;
}

footer {
    text-align: center;
    padding: 10px;
    color: #fff;
    background: rgba(9, 14, 35, 0.7);
    margin-top: auto;
    font-size: 1rem;
    border-radius: 10px 10px 0 0;
}
.input-container {
    display: inline-block;
    width: 100%; 
    margin-left: 10px; 
}


#guardar-btn {
    margin-top: 20px; 
}
#cambiar-fondo-btn {
    margin-top: 20px; 
}

#fondo-input {
    display: none;
}